/* * .foto-album {
align-items: center;
display: flex;
justify-content: center;
max-width: 80%;
align-items: center;
justify-content: space-around;
margin: 10px;
position: relative;
height: 10px;
padding: 2rem;

}  */
